

/*----------- BODY --------------*/
body {
    background-image: url("/images/mountains1024.jpg");
}


/*----------- HEADER --------------*/

header {

}

#logo {
    background-image: url("/images/logo250.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 274px;
}

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
#searchBar {
    width: 90vw;
    height: 50px;
    margin-bottom: 1.5rem;
}

#shortenURLbtn {
    width: 25vw;
    height: 55px;
}

/*----------- FOOTER --------------*/