

/*----------- BODY --------------*/
body {
    background-image: url("/images/mountains.jpg");
}


/*----------- HEADER --------------*/

header {

}

#logo {
    background-image: url("/images/logo250.png");
    background-repeat: no-repeat;
}

/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/
#searchBar {
    width: 90vw;
    height: 50px;
    margin-bottom: 1.5rem;
}

#shortenURLbtn {
    width: 25vw;
    height: 55px;
}

/*----------- FOOTER --------------*/