


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: $mainFont;
    background-image: url("/images/mountains560.jpg");
    background-repeat: no-repeat;
  /*   width: 100vw;
    height: 100vh;
    background-size: 100% 100%; */
}

.responsive {
    width: 100%;
    height: auto;
}
  

/*----------- HEADER --------------*/

header {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    color: #fff;
}

#logo {
    display: flex;
    justify-content: center;
    width: 125px;
    height: 137px;
    background-image: url("/images/logo125.png");
    background-repeat: no-repeat;
}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.flexed {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

::placeholder {
    color: $primaryColor;
    padding-left: 1rem;
}

input[type=text] {
    color: $primaryColor;
}

#searchBar {
    display: flex;
    width: 90vw;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 1.5rem;
    background-color: $menuColor;
    border-color: $primaryColor;
}

#shortenURLbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 60px;
    border-radius: 30px;
    color: $menuColor;
    background-color: $primaryColor;
    border-color: none;
    cursor: pointer;
}

#shortenURLbtn:hover {
    color: $primaryColor;
    background-color: $menuColor;
}

#searchItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

div#shortUrl {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    color: $primaryColor;
    padding-left: 1rem;
    // text-align: center;
    background-color: $menuColor;
    width: 70vw;
    height: auto;
}

#copyBtn {
    color: $primaryColor;
    background-color:$menuColor;
    border-color: $primaryColor;
    cursor: pointer;
}

#copyBtn:hover {
    color: $menuColor;
    background-color: $primaryColor;
    border-color: none;
}


#deleteBtn {
    display: flex;
    color: $primaryColor;
    background-color:$menuColor;
    border-color: $primaryColor;
    cursor: pointer;
}

#deleteBtn:hover {
    color: $primaryColor;
    background-color: $menuColor;
    border-color: none;
}

/*----------- FOOTER --------------*/
